# https://editorconfig.org/

root = true

# Global style
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Markdown uses whitespace at the end of a line to force line breaking
[*.{md,mdx,markdown,txt}]
trim_trailing_whitespace = false

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
